body{
    background-color: lightgrey; /*светлый фон страницы*/
    font-family: sans-serif;/* шрифт*/
    box-sizing: content-box;/*описание модели коробки без учета границ и паддингтов*/
}
/*стили для контейнеров внутри которого находится контент*/
.container{
    margin: 0 auto;/*центрирует контейнер по горизонтали*/
    padding-top: 50px;/*отступ сверху*/
}

/*стили для важного текста*/
.important{
    font-weight: bold;/*полужирный шрифт*/
    color: #a40e11;/*цвет текста*/
}

/*стили для списка задач*/

.todo-list {
    max-width: 500px;/*максимальная ширина контейнера*/
    display:block;/*блоковый элемент*/
    margin: 0 auto 100px;/*центрирует контейнер по горизонтали и добавляет отступ*/
    padding: 30px;/*отступ внутри контейнера*/
    background-color: #1ba39c;/*цвет фона контейнера*/
    border-radius: 10px;/*скругляет углы*/
    box-shadow: 0 2px 10px 0 #074b83;/*добавляет тень*/
}

/*Стили для заголовка h1*/
h1{
    text-align: center;/*выравнивает текст по центру*/
    margin-top: 0;/*убирает отступ сверху*/
    color: white;/*цвет текста*/
    font-size: 42px;/*размер текста*/
    margin-bottom: 20px;/*отступ снизу*/
}

/*Стили для блока с формой создания новой задачи*/
.create-new-todo {
    text-align: center;/*выравнивает текст по центру*/
}

/*стили для текстового поля*/
input[type="text"]{
    width: 376px;/*устанавливает ширину поля для ввода*/
    padding: 10px;/*добавляет внутренни отступы*/
}

/*Стили для кнопки*/
button:{
    outline: nine;/*убирает внешнюю обводку*/
    border: none;/*убирает границу кнопки*/
    margin-top: 20px;/*отступ сверху*/
    width: 400px;/*ширина*/
    padding: 10px;/*внутренние отступы*/
    cursor: pointer;/*изменяет курсор на показатель*/
    transition: 0.5s ease;/*плавное изменение цвета кнопки при переводе курсора*/
    font-weight: 600; /*жирный текст*/
}

