body{
    background-color: lightgrey; /*светлый фон страницы*/
    font-family: sans-serif;/* шрифт*/
    box-sizing: content-box;/*описание модели коробки без учета границ и паддингтов*/
}
/*стили для контейнеров внутри которого находится контент*/
.container{
    margin: 0 auto;/*центрирует контейнер по горизонтали*/
    padding-top: 50px;/*отступ сверху*/
}

/*стили для важного текста*/
.important{
    font-weight: bold;/*полужирный шрифт*/
    color: #a40e11;/*цвет текста*/
}

/*стили для списка задач*/

.todo-list {
    max-width: 500px;/*максимальная ширина контейнера*/
    display:block;/*блоковый элемент*/
    margin: 0 auto 100px;/*центрирует контейнер по горизонтали и добавляет отступ*/
    padding: 30px;/*отступ внутри контейнера*/
    background-color: #1ba39c;/*цвет фона контейнера*/
    border-radius: 10px;/*скругляет углы*/
    box-shadow: 0 2px 10px 0 #074b83;/*добавляет тень*/
}

/*Стили для заголовка h1*/
h1{
    text-align: center;/*выравнивает текст по центру*/
    margin-top: 0;/*убирает отступ сверху*/
    color: white;/*цвет текста*/
    font-size: 42px;/*размер текста*/
    margin-bottom: 20px;/*отступ снизу*/
}

/*Стили для блока с формой создания новой задачи*/
.create-new-todo {
    text-align: center;/*выравнивает текст по центру*/
}

/*стили для текстового поля*/
input[type="text"]{
    width: 376px;/*устанавливает ширину поля для ввода*/
    padding: 10px;/*добавляет внутренни отступы*/
}

/*Стили для кнопки*/
button:{
    outline: nine;/*убирает внешнюю обводку*/
    border: none;/*убирает границу кнопки*/
    margin-top: 20px;/*отступ сверху*/
    width: 400px;/*ширина*/
    padding: 10px;/*внутренние отступы*/
    cursor: pointer;/*изменяет курсор на показатель*/
    transition: 0.5s ease;/*плавное изменение цвета кнопки при переводе курсора*/
    font-weight: 600; /*жирный текст*/
}

button:hover {/*изменяет цвет кнопки при наведения курсора*/
    background-color: #074b83;/*цвет фона*/
    color: #fff;/*цвет текста*/
    transition: 0.5s ease;/*плавно изменяет цвет кнопки при наведении курсора*/
}

/*стили для кнопки удаления всех задач*/
.delete {
    margin-top: 20px; /*отступ сверху*/
    width: 400px;/*ширина*/
}

/*стили для списка задач*/
.todo {
    padding-left: 0, /*убирает отступ слева*/
}

/*стили для кадого элемента списка задачи*/
.todo li {
    padding: 1em; /*отсутпы внутри*/
    list-style-type: none;/*убирает стандартные маркеры списка*/
    word-break: break-all; /*переносит длинные слова на новую строку*/
    display: flex; /*использует flexbox для распределения элементов*/
    justify-content: space-between;/*размещает элементы на коцнах*/
    align-items: center; /*центирует элементы по вертикали*/
}

/*стили для разделителя между задачами*/
.todo li:not(:last-child) {/*для всех li кроме последннго*/
    border-bottom: 1px solid #000; /*разделитель между задачами*/
}

/*стили для кнопки удаления*/
.delete {
    height: 20px;/*высота*/
    width: 20px; /*ширина*/    
}

/*стили для скрытого чекбокса*/
input[type=checkbox] {
    opacity: 0;/*скрывает чекбокс*/
    position: absolute;/*убирае его из потока документа*/
}


/*стили для чекбокса и метки*/
input[type=checkbox],
label {
    display: inline-block; /*устанавливает inline блок для чекбокса и метки*/
    vertical-align: middle; /*центрирует чекбокс и метку по вертикали*/
    margin: 5px;/*отступы*/
    cursor: pointer;/*изменяет курсор на указатель*/
}

/*стили для псевдоэлемента перед меткой (контейнер для чекбокса)*/
input[type='checkbox'] + label::before {
    content: '';/*содержимое*/
    background: #1ba39c;/*устаналвивает фоновый*/
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

/*стили для чекбокса когда он отмечен*/
input[type='checkbox']:checked + label::before {
    content: '';/*содержимое*/
    width: 1px;
    height: 5px;
    border: solid blue;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 0 15px 5px 5px;
}